.display{
    background-color: hsl(217, 51%, 27%);
}
.wrapper{
    max-width: 1170px;
    margin: 0px auto;
    min-height: 675px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.archive{
    display: flex;
    justify-content: center;
}

.block{
    min-width: 45%;
    color: white;
    margin: 0px 30px;
}
.slider{
    border: 1px solid black;
    height: 450px;
    border-radius: 20px;
    box-sizing: border-box;
}

.text{
    padding-left: 20px;
    max-width: 50%;
}