.display{
    background-color: white;
}
.wrapper{
    max-width: 1170px;
    margin: 0px auto;

    padding-top: 30px;
    padding-bottom: 30px;
}
.right a{
    color: black;
}

.right{
    display: flex;
    justify-content: end;
}