.list a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
}

.list{
    display: flex;
    align-items: center;
}
.active{
    color: gray;
}

@media screen and (max-width: 1024px){
    a {
        font-size: 10px;
    }
    
}